.button {
  display: flex;
  height: 4em;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: #e0e1e6;
  color: #888;
  outline: 1px solid #888;
  cursor: pointer;
}

.button:hover {
    background-color: rgba(178, 182, 198, 1);
}

.operator {
  background-color: #fe9241;
  color: #fff;
}

.operator:hover {
    background-color: rgba(234, 115, 31, 1);
}